<a href="https://colab.research.google.com/github/TVHM/cuny_lagcc_micro_credential_data_analytics/blob/main/Lecture_Unit2_3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Store the names in a variable

In [ ]:
friends = [ 'mama','son','grand-daughter','me']
print (friends)

['mama', 'son', 'grand-daughter', 'me']

In [ ]:
friends [0]

'mama'

In [ ]:
friends [1]

'son'

In [ ]:
print (friends[3].upper())

ME

In [ ]:
# print message

In [ ]:
friends = ['mama','son','grand-daughter','me']
message = "My favorite friend is " + friends[0].upper() + "!!!"
print(message)

My favorite friend is MAMA!!!

#Modify Lists

In [ ]:
favorite_foods = ['avacado','strawberries','bananas']
print(favorite_foods)

['avacado', 'strawberries', 'bananas']

In [ ]:
favorite_foods.insert(2, 'mango')
print(favorite_foods)

['avacado', 'strawberries', 'mango']

#Sorting a list

In [ ]:
travel = ['Spain','Kenya','St. Petersburg', 'London','Portland'] 
print(travel)
travel.sort() 
print(travel)
travel.sort(reverse=True)
print(travel)

['Spain', 'Kenya', 'St. Petersburg', 'London', 'Portland']
['Kenya', 'London', 'Portland', 'Spain', 'St. Petersburg']
['St. Petersburg', 'Spain', 'Portland', 'London', 'Kenya']

In [ ]:
# temporary sorting sorted
print(travel)

['St. Petersburg', 'Spain', 'Portland', 'London', 'Kenya']

In [ ]:
print(sorted(travel))

['Kenya', 'London', 'Portland', 'Spain', 'St. Petersburg']

In [ ]:
print(travel)

['St. Petersburg', 'Spain', 'Portland', 'London', 'Kenya']

In [ ]:
#sorting 
a = ("b", "g", "a", "d", "f", "c", "h", "e")
x = sorted(a)
print (x)
print (a)

#Looping

In [ ]:
travel = ['Spain','Kenya','St. Petersburg', 'London','Portland']

adding to previous for loop

In [ ]:
for show in tvshows
print(show.title() + ", statement\n" + show.upper() + "statement\n"

#Exercise Make a list of 5 of your favorite foods use for loop print out each name.  Modify for loop add a sentence using the name of the - pizza is my favorite food, add print outside of your loop that will print when your loop ends

In [ ]:
favorite_foods = ['avacado','strawberries','bananas']
for show in favorite_foods:
  print(show)

avacado
strawberries
bananas

In [ ]:
#add a sentence
for show in favorite_foods:
  print(show.title()+ " ,is one of my favorite foods ")

Avacado ,is one of my favorite foods
Strawberries ,is one of my favorite foods
Bananas ,is one of my favorite foods

In [ ]:
#for loop outside of the loop I cant wait to eat it again

In [ ]:
for show in favorite_foods:
  print(show.title()+ " ,is one of my favorite foods\n I can't wait to eat it " + "again\n")

Avacado ,is one of my favorite foods
 I can't wait to eat it again

Strawberries ,is one of my favorite foods
 I can't wait to eat it again

Bananas ,is one of my favorite foods
 I can't wait to eat it again

#Looping numbers

range function used to make a list numbers in list  > numbers = list(range(1,11)) and to take another argument numbers = list(range(0,11, 2))

In [ ]:
for num in range (1,21):
  print (num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
numbers = list(range(0,22))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

#incorrect 
#print Odd and Even numbers from a list in Python

In [ ]:
#odd slide 18 the range function  takes another argument

numbers = list(range(0, 21))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Statistics 
minimum number 
maximum number 
sum

In [ ]:
numbers = list(range(0,11, 2))
print(numbers)
min(numbers)
max(numbers)

[0, 2, 4, 6, 8, 10]

10

In [ ]:
sum(numbers)

30

Slicing a list

In [ ]:
           tvshows = ['star trek', 'walking dead', 'goodtimes']   
           print(tvshows[0:3])

['star trek', 'walking dead', 'goodtimes']

In [ ]:
print(tvshows[1:2])

['walking dead']

In [ ]:
print(tvshows[:2])

['star trek', 'walking dead']

In [ ]:
print(tvshows[2:])

['goodtimes']

In [ ]:
-

In [ ]:
tvshows = ['star trek', 'walking dead', 'goodtimes']   
print("Some cool tv shows to watch")
for coolshows in tvshows[:2]:
  print(coolshows.title())

Some cool tv shows to watch
Star Trek
Walking Dead

looping through the slice

#Control Flow  Conditional logics, loops and control flow concepts - page 37

In [ ]:
solarsystem = ['9']
for planet in solarsystem: 
  if planet == '9':
    print('solarsystem')
  else:
    print('outerspace')

solarsystem

#Checking if a value exists in a list

In [ ]:
#checking if a value exists in a list
solar_system = ['Sun','Mercury','Venus']
'Venus' in solar_system

True

In [ ]:
#Check if value exists in a list with statement 
solar_system = ['Sun','Mercury','Venus']
star = 'Sun'
if star not in solar_system:
  print(star.title() + " ,was not in the list of bodies in the Solar System.")

In [ ]:
#numeric comparisons
name_number_of_planets = 8
if name_number_of_planets > 9:
  print("Number of planets is 8")
else:
    print ("Number of planets is more than 8")

Number of planets is more than 8

In [ ]:
#Checking for inequality 
solar_system = 'gravity'

if solar_system != 'gravitational_collapse':
   print ('outerspace')

outerspace

Multiple conditions - python accepts keywords to check multiple conditions - using and or operators

In [ ]:
#Multiple conditions and or 
space_solar_system_size = 8
space_outerspace_size = 100
space_solar_system_size >= 6 or space_outerspace_size >= 7

True

#simple if statement

In [ ]:
age = 19
if age >= 18:
  print("You're old")

You're old

#If statements

In [ ]:
#if else statements

#If elif else

In [ ]:
#if=elif-else elif checks another condition testing for more that two possible outcomes
age = 32

if age < 5:
   print("Admission price is free")
elif age < 18:
  print("Admission price is $5")
else:
  print("Admission price is $10")

Admission price is $10

#a more optimized approach (if elif else  +string)

In [ ]:
#more optimized approach (if elif else  +string)

In [ ]:
age = 17

if age  < 4:
  price = 0

elif age < 18:
  price = 5

else:
  price = 10

print ("Admission price is: "+str(price))

Admission price is: 5

In [ ]:
 #multiple conditions, checking / testing several conditions - printing 2 lines
 toppings = ['chocolate','sprinkles']

 if 'chocolate'in toppings:
   print("adding chocolate")
 if 'sprinkles'in toppings:
   print("adding spinkles")  
 if 'peanuts'in toppings:
   print("adding peanuts")

adding chocolate
adding spinkles

#if-else and for loops

In [ ]:
#using if statements with list  ( will not execute line if false )
toppings = ['chocolate' , 'sprinkles']
for topping in toppings:
    if toppings == 'chocolate':
      print("All out of chocolate!")
    else:
        print("Adding the following topping! " + topping)

Adding the following topping! chocolate
Adding the following topping! sprinkles